.descript {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, rgba(35, 35, 35, 1), rgba(78, 78, 78, 1), rgba(35, 35, 35, 0));
    z-index: -2;
  }
  
  .divDesc {
    color: white;
    margin-left: 0;
    height: 360px;
  }
  
  .titreDesc, .paraDesc {
    padding: 20px;
  }
  
  .descript img {
    right: 15px;
    bottom: 0;
    opacity: 1;
    width: 580px;
    height: 370px;
    position: absolute;
    z-index: -1;
  }
  
  .paraDesc {
    line-height: 2.5;
    padding-bottom: 10%;
    width: 700px;
  }
  
  .resumer {
    padding-top: 5%;
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(90deg, rgba(35, 35, 35, 2), rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 1));
    color: white;
    padding-bottom: 10%;
  }

  @media (max-width: 780px) {
    .iframeyoutube {
      height: 300px
    }
    .accueil {
      width: 780px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .accueilDiv {
      padding-top: 5%;
      padding-bottom: 15%;
    }
    .accueilDiv h1 {
      padding-bottom: 2%;
    }
    .resumer {
      width: 100vw;
    }
  }

  @media (max-width: 420px) {
    .accueil {
      width: 420px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .accueilDiv {
      padding-top: 5%;
      padding-bottom: 15%;
    }
    .accueilDiv h1 {
      padding-bottom: 2%;
    }
    .descript img {
      right: 0;
      bottom: 0;
      opacity: 1;
      width: 420px;
      height: 200px;
      position: absolute;
      z-index: -1;
    }
    .resumer {
      padding-top: 5%;
      margin-left: 0;
      margin-right: 0;
      background: linear-gradient(90deg, rgba(35, 35, 35, 2), rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 1));
      color: white;
      padding-bottom: 10%;
      width: 100vw;
    }
  }