/*NAVBAR*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  height: 10vh;
  background: #5b78c7;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  margin: 100px;
  font-size: 50px;
  color: #ae5fce;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

/* FIN NAVBAR*/

/* L'équipe*/

.titre-equipe {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

/* FIN l'équipe*/

.iframeyoutube {
  height: 500px;
}

.accueil {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.accueilDiv {
  padding-top: 5%;
  padding-bottom: 15%;
}

.accueilDiv h1 {
  padding-bottom: 2%;
}

/* modification sur description.blade.php */

.descript {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, rgba(35, 35, 35, 1), rgba(78, 78, 78, 1), rgba(35, 35, 35, 0));
  z-index: -2;
}

.divDesc {
  color: white;
  margin-left: 0;
  height: 360px;
}

.titreDesc, .paraDesc {
  padding: 20px;
}

.descript img {
  right: 15px;
  bottom: 0;
  opacity: 1;
  width: 580px;
  height: 370px;
  position: absolute;
  z-index: -1;
}

.paraDesc {
  line-height: 2.5;
  padding-bottom: 10%;
  width: 700px;
}

.resumer {
  padding-top: 5%;
  margin-left: 0;
  margin-right: 0;
  background: linear-gradient(90deg, rgba(35, 35, 35, 2), rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 1));
  color: white;
  padding-bottom: 10%;
}

@media (max-width: 780px) {
  .iframeyoutube {
    height: 300px
  }
  .accueil {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .accueilDiv {
    padding-top: 5%;
    padding-bottom: 15%;
  }
  .accueilDiv h1 {
    padding-bottom: 2%;
  }
  .resumer {
    width: 100vw;
  }
}

@media (max-width: 420px) {
  .accueil {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .accueilDiv {
    padding-top: 5%;
    padding-bottom: 15%;
  }
  .accueilDiv h1 {
    padding-bottom: 2%;
  }
  .descript img {
    right: 0;
    bottom: 0;
    opacity: 1;
    width: 420px;
    height: 200px;
    position: absolute;
    z-index: -1;
  }
  .resumer {
    padding-top: 5%;
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(90deg, rgba(35, 35, 35, 2), rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 1));
    color: white;
    padding-bottom: 10%;
    width: 100vw;
  }
}

/*FOOTER*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0e0e0e;
  color: white;
}

hr {
  background: white;
}

/* Video.blade.php */

.addImage {
  padding-top: 5%;
  margin: 5%;
}

.cateVideo img {
  max-width: 100%;
}

.cateVideo div {
  padding-bottom: 5%;
  margin-bottom: 5%;
  margin-right:auto;
  margin-left:auto;
}

/*END FOOTER*/

/* Médiathèque */

.derniere-video {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 1%;
  font-size: 1.8em;
}

.audio {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 1%;
  font-size: 1.8em;
  background-color: #FAA492;
}

.audio p {
  color: white;
}

.video {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 1%;
  font-size: 1.8em;
  background-color: #51F6FE;
}

.video p {
  color: white;
}

.gallery {
  width: 100%;
}

.all {
  align-content: center;
  width: 100;
}

/* cell number */

.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.gallery-cell {
  width: 50%;
  height: 300px;
  margin-right: 10px;
  background: none;
  counter-increment: gallery-cell;
  min-width: 50%;
}

.gallery-cell img {
  width: 100%;
  height: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}

.block {
  display: inline-block;
}

.block img {
  margin-left: 20px;
  margin-bottom: 10%;
  width: 100%;
}

.block {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 10px;
}

.block:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.block img {
  margin-left: 10px;
  margin-bottom: 10%;
  width: 90%;
}

.description-video {
  margin-top: -10px;
  text-align: center;
}

.titre-video {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.block:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.block img {
  margin-left: 10px;
  margin-bottom: 10%;
  width: 90%;
}

.description-video {
  margin-top: -10px;
  text-align: center;
}

.titre-video {
  margin-top: 10px;
  text-align: center;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

.div5 {
  grid-area: 2 / 1 / 3 / 2;
}

.div6 {
  grid-area: 2 / 2 / 3 / 3;
}

.div7 {
  grid-area: 2 / 3 / 3 / 4;
}

.div8 {
  grid-area: 2 / 4 / 3 / 5;
}

/* FIN Médiathèque */

/* VIDEO */

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* FORMULAIRE */

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 1.2em;
}

.formulaire label, .formulaire input, .formulaire textarea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 50%;
  height: auto;
  padding: 10px;
}

.formulaire label {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.formulaire input:focus, .formulaire textarea:focus {
  background-color: rgb(243, 234, 215);
}

.formulaire textarea {
  min-height: 100px;
  max-height: 200px;
}

#btn-submit {
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: #E5B960;
  border-radius: 10px;
}

#btn-submit:hover {
  color: white;
  background-color: #9E318E;
}

.errorFormulaire {
  background-color: rgb(240, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  margin: 0;
}

.bonFormulaire {
  background-color: rgb(226, 209, 173);
  border: 2px solid #E5B960;
  padding: 5px;
  border-radius: 10px;
}

.blockFormulaire {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockFormulaire p {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionFormulaire {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Carte pour les images "image.blade.php */

.carte {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.afficheImage {
  padding-top: 5%;
  margin: 5%;
}

/* bouton des cartes images */

.bouton {
  padding: 3%;
  background-color: #D39A26;
  border-radius: 10px;
}

.afficheArticles {
  padding-top: 5%;
  margin: 5%;
}

/* On mouse-over, add a deeper shadow */

.carte:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.contain {
  padding: 2px 16px;
}

/* BARRE DE RECHERCHE */

/* BARRE DE RECHERCHE */

.navbar-nav {
  display: flex;
  align-items: flex-end;
}

.desactiveRecherche {
  display: none;
}

.activeRecherche {
  display: flex;
}

#barreRecherche {
  width: 250px;
  max-width: 100%;
  min-width: 300px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  line-height: 35px;
  padding: 6px;
  padding-left: 5px;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 5px;
}

#barreRecherche:focus {
  background-color: rgb(243, 234, 215);
}

#formulaireRecherche {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnRecherche {
  margin-right: 10px;
  position: absolute;
  right: 25px;
}

.desactiverLoupe {
  display: none;
}

.blockRecherche {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 25px;
  height: 100%;
  min-height: 53vh;
}

.rechercheEffectuer {
  color: grey;
  font-size: 20px;
}

.footer .row {
  margin: 0;
}

.navbar-blanc {
  position: absolute;
  top: 85px;
  left: 0px;
  background: white;
  width: 100%;
  padding: 20px;
  z-index: 1;
}