
.header-inner {
-webkit-box-shadow: 0 4px 6px -6px black;
-moz-box-shadow: 0 4px 6px -6px black;
     box-shadow: 0 4px 6px -6px black;
    background-color:white;

	display: table;
	width: 100%;
	margin: 0 auto; /* on centre l'élément */
	padding: 20px 25px; /* on ventile un peu */
}
.header-inner > * {
	display: table-cell;
	vertical-align: middle;
}
/* Alignement du menu */
.header-nav {

	text-align: right;
}
/*
   Faire passer le menu en inline (inline-block, inline-table ou inline-flex) pour le rendre sensible à l'alignement à droite. Ses items aussi sont en inline.
*/
.header-nav ul,
.header-nav li {
	display: inline;
	list-style: none;
}
.header-nav a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	vertical-align: middle;
	font-weight: 300; /* entre regular et light */
	letter-spacing: 0.025em;
	color: inherit;
	text-decoration: none;
}
.header-nav a:after {
	content: "";
	position: absolute;
	bottom: 0; right: 20px; left: 20px;
	height: 2px;
	background-color: #B13C2E;

	/* Préparation de notre animation */
	opacity: 0;
	transform: translateY(5px);
	transition: all .4s;
}
/* Le trait va remonter et apparaitre */
.header-nav a:hover:after,
.header-nav a:focus:after {
	opacity: .6;
	transform: translateY(0);
}
/* Je vire outline car juste au-dessus je définis un style :focus */
.header-nav a:focus {
    outline: none;
}
@media (max-width: 1920px) {
    .accueil {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .accueilDiv {
        padding-top: 5%;
        padding-bottom: 15%;
    }
    .accueilDiv h1 {
        padding-bottom: 2%;
    }


    /* modification sur description.blade.php */

    .descript {
        padding-top: 10%;
        padding-bottom: 10%;
        width: 1080px;
        margin-left: auto; 
        margin-right: auto;
        padding-left: 10%;
    }


    .descript img {
        width: 300px;
        margin: 3%;
    }
}

@media (max-width: 780px) {
    .accueil {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .accueilDiv {
        padding-top: 5%;
        padding-bottom: 15%;
    }
    .accueilDiv h1 {
        padding-bottom: 2%;
    }
}

@media (max-width: 420px) {
    .accueil {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .accueilDiv {
        padding-top: 5%;
        padding-bottom: 15%;
    }
    .accueilDiv h1 {
        padding-bottom: 2%;
    }
}

/*FOOTER*/

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0e0e0e;
    color: white;
 }

 hr{
     background: white;
 }
 
 .center {
     text-align: center;    
 }
 .indent { 
     text-indent: 10px; 
 }
 
 .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; }

/*END FOOTER*/