body{
    background-color: black;
}
.header-inner {
    background-color:white;

	display: table;
	width: 100%;
	max-width: 1850px;
	margin: 0 auto; /* on centre l'élément */
	padding: 20px 25px; /* on ventile un peu */
}
.header-inner > * {
	display: table-cell;
	vertical-align: middle;
}
/* Alignement du menu */
.header-nav {

	text-align: right;
}
/*
   Faire passer le menu en inline (inline-block, inline-table ou inline-flex) pour le rendre sensible à l'alignement à droite. Ses items aussi sont en inline.
*/
.header-nav ul,
.header-nav li {
	display: inline;
	list-style: none;
}
.header-nav a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	vertical-align: middle;
	font-weight: 300; /* entre regular et light */
	letter-spacing: 0.025em;
	color: inherit;
	text-decoration: none;
}
.header-nav a:after {
	content: "";
	position: absolute;
	bottom: 0; right: 20px; left: 20px;
	height: 2px;
	background-color: #B13C2E;

	/* Préparation de notre animation */
	opacity: 0;
	transform: translateY(5px);
	transition: all .4s;
}
/* Le trait va remonter et apparaitre */
.header-nav a:hover:after,
.header-nav a:focus:after {
	opacity: .6;
	transform: translateY(0);
}
/* Je vire outline car juste au-dessus je définis un style :focus */
.header-nav a:focus {
	outline: none;
}
