.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 1.2em;

  label, input, textarea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 50%;
    height: auto;
    padding: 10px;
  }

  label {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  input:focus {
    background-color: rgb(243, 234, 215);
  }

  textarea {
    &:focus {
      background-color: rgb(243, 234, 215);
    }

    min-height: 100px;
    max-height: 200px;
  }
}

#btn-submit {
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: #E5B960;
  border-radius: 10px;

  &:hover {
    color: white;
    background-color: #9E318E;
  }
}

.errorFormulaire {
  background-color: rgb(240, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  margin: 0;
}

.bonFormulaire {
  background-color: rgb(226, 209, 173);
  border: 2px solid #E5B960;
  padding: 5px;
  border-radius: 10px;
}

.blockFormulaire {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.descriptionFormulaire {
  margin-bottom: 50px;
  margin-top: 50px;
}

.error {
  margin-top: 14%;
  text-align: center;
  color: gray;
}
.notFound {
  margin-bottom: 11%;
  text-align: center;
  color: gray;
}